@import url(shared.css);

label{
    margin-bottom: 10px;
}

.c-formulario{
    width: 60%;
}

.info-contacto{
margin-right: 10px; 
}

.c-formulario,
.info-contacto{
   margin-top: 50px;
   margin-bottom    : 50px;
}

.error{
    color: var(--error);
    font-style: italic;
}