@import url(shared.css);


h2{
    text-align: center;
    color: var(--Azul-oscuro-2);
    margin: 40px 0;
    font-weight: bold;
}
.regresar{
    width: 70vw;
    margin: 0 auto 20px auto;
}


.info-usuario{
    background-color:  var(--texto-color-claro);
    width: 70vw;
    margin: 0 auto 0 auto;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
   
}

.foto{
    display: inline-flex;
}

.foto h4{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

#foto{
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    /* margin: 0 auto; */
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
}

#guardar,
#cancelar{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 30%;
}

.error{
    color: var(--error);
    font-style: italic;
}