@import url(shared.css);
/* body{
    background-color: var(--texto-color-claro);
} */

/* .contenedor{
    display: inline-flex;
} */

h2{
    text-align: center;
    color: var(--Azul-oscuro-2);
    margin: 40px 0;
    font-weight: bold;
}

/* h4{
    margin-bottom: 30px;
} */

.info-usuario{
    background-color:  var(--texto-color-claro);
    width: 70vw;
    margin: 0 auto 0 auto;
    padding: 10px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
   
}

.foto{
    display: inline-flex;
}
.foto h4{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

/* .foto-perfil{
    width: 50%;
    margin: 0 auto;
} */

#foto-perfil{
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: block;
    /* margin: 0 auto; */
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    -ms-border-radius: 150px;
    -o-border-radius: 150px;
}

/* label{
    width: 20%;
    min-width: 50px;
    text-align: right;
    
}
input, select{
    width: 75% !important;
    text-align: left !important;
    
} */

/* label, input, select{
    display: inline-block !important;
    margin-bottom: 20px ;
} */

#guardar,
#cancelar{
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 30%;
}