@import url(shared.css);

li{
    margin-right: 25px;
}

/*.contenedor-titulo{
    background-image: url("C:/Program Files/Ampps/www/Programacion-3-Proyecto/img/Screenshot-2021-07-20-at-9.10.06-PM.png");
    margin: 0;
}
video{
    width: 100%;
    height: 500px;
    object-fit: cover;
}*/

.form-busqueda:not(label){
    width: 50%;
    margin: 15px auto;
    /*text-align: center;*/
    padding: 15px;
    border: 1px solid var(--celeste);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

select{
    margin: 10px 0;
    width: 70% !important;
    margin: 10px auto !important;
}

.formulario{
    margin: 15px auto;
    width: 70%;
    padding: 10px 35px;
    border: 1px solid var(--celeste);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.opciones{
    text-align: center;
}

.container{
    width: 100% !important;
    padding: 10px 35px;
    margin: 0 auto;
}
.container h3{
    margin: 10px 0;
}

.carousel-item img{
    filter: contrast(0.8);
    -webkit-filter: contrast(0.8);
    /* height: 500px !important;
    object-fit: cover; */
}
.carousel-item a{
    color: var(--texto-color-claro) !important;
    text-decoration: none !important;
    font-weight: normal;
}
.carousel-item a:hover{
    text-decoration: underline !important;
    color: var(--celeste) !important;
}
.carousel{
    width: 80%;
    margin: 0 auto;
}

h3{
    color: var(--Azul-oscuro-2);
}

.img-info img{
    width: 70%;
    object-fit: cover;
    margin: 0 auto !important;
}

.card{
    padding: 0 !important;
    margin-bottom: 20px;
    margin-right: 15px;
}
.card img{
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    height: 215px;
    object-fit: cover;
}

.comentario{
    background-color: #9AC7D94D;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 15px 10px 0 10px;
    margin-bottom: 20px;
}
.comentario img{
    margin: 0 10px;
}

.titulo{
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.50)),
    url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/81935c193440689.65eb8758a02ba.jpg");
    /*background-repeat: no-repeat;*/
    height: 500px;
}
.texto-titulo{
    text-align: center;
    vertical-align: bottom !important;  
}
.texto-titulo h1{
    font-size: 500%;
    color: var(--texto-color-claro);
}
.texto-titulo p{
    font-size: 20px;
    color: var(--texto-color-claro);  
}
.texto-titulo img{
    width: 25px;
    height: 25px; 
}

.separador{
    width: 60%;
    height: 10px;
    background-color: var(--texto-color-claro);
    margin: 0 auto;
    border-radius: 10PX;
    -webkit-border-radius: 10PX;
    -moz-border-radius: 10PX;
    -ms-border-radius: 10PX;
    -o-border-radius: 10PX;
}

.carousel-inner img{
    height: 700px;
    object-fit: cover;
}
.card:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
