@import url(shared.css);
li{
    margin-right: 25px;
}

/*.contenedor-titulo{
    background-image: url("C:/Program Files/Ampps/www/Programacion-3-Proyecto/img/Screenshot-2021-07-20-at-9.10.06-PM.png");
    margin: 0;
}
video{
    width: 100%;
    height: 500px;
    object-fit: cover;
}*/