@import url(shared.css);

h2{
    color: var(--Azul-oscuro-2);
}

.titulo h1{
    text-align: center;
    color: var(--texto-color-claro);
    margin: 25px auto 0 auto;
}
.verificacion-usuario{
    background-image: linear-gradient(rgba(0, 0, 0, 0.70),rgba(0, 0, 0, 0.50)), url("https://media.admagazine.com/photos/61f302e606c10ae95c71ba22/16:9/w_1920,c_limit/66-CASA-SUKHA-JPG-ALTA.jpg");
    min-height: 600px;
}

.formulario-inicio{
    border: 2px solid var(--celeste);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 0 auto 30px auto;
    width: 40%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.70);
}
.formulario-inicio a,
.crear-usuario a{
    color: var(--Azul) !important;
    text-decoration: none !important;
    font-weight: normal;
    cursor: pointer;
}
.formulario-inicio a:hover,
.crear-usuario a:hover{
    text-decoration: underline !important;
    color: var(--Azul-oscuro-2) !important;
}

.formulario-inicio button{
    width: 100% !important;
    margin-bottom: 10px;
}

.crear-usuario{
    display: none;
    border: 2px solid var(--celeste);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin: 10px auto 30px auto;
    width: 70%;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.70);
}
.confirmacion{
    text-align: center;
}
/* dialog{
   width: 50vw !important;
   height: 70vh;
   overflow-y: auto;
   border: 2px solid var(--Azul-oscuro-2);
   padding: 30px !important;
}

.separador{
    width: 100%;
    height: 2px;
    background-color: var(--gris);
    margin-bottom: 10px;
} */
