@import url(shared.css);

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fade-in {
    animation: fadeIn 1s ease-in-out;
}

li{
    margin-right: 25px;
}

.titulo-centrado {
    height: 300px;
    
}


.texto-img {
    text-align: center;
    font-size: 500%;
    color: var(--Azul-oscuro-2);  
}
.formulario1 {
    margin: 10px auto;
    width: 70%;
    padding: 10px 40px;
    border: 1px solid var(--celeste);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.formulariop {
    margin: 35px auto;
    width: 70%;
    padding:20px 45px;
    border: 1px solid var(--celeste);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}--

.opciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.opciones > div {
    flex: 1 0 20%; /* Esto significa que cada div ocupará al menos el 20% del ancho total, pero puede crecer si hay espacio disponible */
    margin: 10px;
}

.opciones label {
    display: block;
}

.opciones select, .opciones input {
    width: 100%;
    margin-top: 5px;
}

select{
    margin: 10px 0;
    width: 70% !important;
    margin: 10px auto !important;
}

/* .card1 {
    padding: 10px !important;
    margin: 8px;
    transition: transform 0.3s ease-in-out;
} */

.card{
    padding: 0 !important;
    margin-bottom: 20px;
    margin-right: 15px;
}
.card img{
    border-radius: 5px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    -ms-border-radius: 5px !important;
    -o-border-radius: 5px !important;
    height: 215px;
    object-fit: cover;
}


.card:hover {
    transform: scale(1.05);
}

.container1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

 /*.mt-0 {
   width: 80%; Esto hará que la imagen tome todo el ancho de la tarjeta, pero no más */
    /*height: auto;  Esto mantendrá la proporción de la imagen 
}*/

.btnfiltro {
    width: 200px;  
    height: 50px;
    margin: 100px;  
    background-color: var(--Azul-oscuro-1);
    color: var(--texto-color-claro);
    border-color: var(--Azul-oscuro-1);
}
