@import url(shared.css);

.contenedor{
    padding-top: 20px;
}

.ubicacion{
    margin: 40px auto;
    width: 70%;
}
h1{
    font-weight: bold;
    text-align: center;
    color: var(--Azul-oscuro-2);
}

h3{
    text-align: center;
    color: var(--Azul);
}

.info img{
    width: 24px;
    height: 24px;
}


.separador{
    height: 2px;
    background-color: var(--gris);
    margin: 10px 0 10px 0;
}
.gr{
    width: 80%;
    height: 5px;
    background-color: var(--celeste);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0 auto;
}

.mapa{
    margin-top: 20px;
}
iframe{
    width: 100%;
    border-radius: 55px;
    -webkit-border-radius: 55px;
    -moz-border-radius: 55px;
    -ms-border-radius: 55px;
    -o-border-radius: 55px;
    background: linear-gradient(var(--Azul), var(--celeste));
}